<div class="home">
	<div class="header">
		<h1 class="logo"><a href="http://wmid.com.ua">WMID.com.ua Bot программы для брачных агенств для золушки, дрима, свадьбы, джампа</a></h1>
		<div class="clear10"></div>
	</div>
	<div class="content">
		<div class="leftColumn">
			<ul class="navi">
				<li><a href="http://wmidbot.com/?page=help" target="_blank">Справка</a></li>
				<li><a href="http://wmidbot.com/?page=dayactive" target="_blank">Купить подписку</a></li>
			</ul>
			<div class="clear10"></div>
		</div>
		<div class="rightColumn" style="text-align:center">
			<a href="#" class="Btn_big" id="get-test"><b>Получить 5 дней бесплатно</b></a>
			<div class="clear10"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">//<![CDATA[
var init=$("body").data("init");
$("#get-test").click(function(){
	var th=$(this);
	$.get("http://zolushka.wmid.com.ua/get.php?mode=js&get=test&plugin=find-bride-chat&name="+init.name).done(function(){
		th.remove();
	});
	return !1;
});
//]]></script>